.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color:rgb(228, 139, 176);
}

.introduction {
    grid-column: 2/3;
    grid-row: 1/2;
    border-color: purple;
    border-style: groove;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 5px;
}

.creation{
    grid-row: 2/3;
    grid-column: 2/3;
    border-color: purple;
    border-style: groove;
    padding: 5px;
    border-width: 0px 3px 3px 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.maze{
    display: block;
    overflow-x: auto;
    grid-row: 1/4;
    grid-column: 1/2;
    height: 600px;
    align-self: center;
}

.controls{
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    border: transparent purple;
    border-width: 3px 3px 3px 3px;
}

.controlbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.upbtn {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    border: solid purple;
    background-color:rgb(183, 143, 209);
    border-width: 3px 3px 0 3px;
    height: 60px;
}

.leftbtn {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    height: 60px;
    background-color:rgb(183, 143, 209);
    border: solid purple;
    border-width: 3px 0 3px 3px;

}

.rightbtn {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
    height: 60px;
    background-color:rgb(183, 143, 209);
    border: solid purple;
    border-width: 3px 3px 3px 0;
}

.downbtn {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    height: 60px;
    background-color:rgb(183, 143, 209);
    border: solid purple;
    border-width: 0 3px 3px 3px;
}

.centerbtn {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    height: 60px;
    background-color:rgb(183, 143, 209);
    border: solid purple;
    border-width: 3px 3px 3px 3px;
}
ß
select{
    width: 170px;
} 

button#start {
    width: 200px;
    background-color:rgb(183, 143, 209);
    align-self: center;
}